.content {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.column-titles {
  display: flex;
  flex-direction: row;
}

.sort-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}