.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

@mixin button {
	display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.button-1 {
  @include button;
  background-color: red;
}

.button-2 {
  @include button;
  margin-left: 10px;
  margin-right: 10px;
  background-color: yellow;
}

.button-3 {
  @include button;
  background-color: blueviolet;
}
